<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kendo.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.kendo.domain.Teacher">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address_id" jdbcType="INTEGER" property="addressId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.kendo.domain.Teacher">
    insert into teacher (id, name, email, 
      phone, address_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.kendo.domain.Teacher">
    update teacher
    set name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, email, phone, address_id
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name, email, phone, address_id
    from teacher
  </select>
    <resultMap id="BaseResultMap" type="com.kendo.domain.Teacher">
        <id column="tutor_id" jdbcType="INTEGER" property="tutorId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="addr_id" jdbcType="INTEGER" property="addrId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where tutor_id = #{tutorId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.kendo.domain.Teacher">
    insert into teacher (tutor_id, name, email, 
      phone, addr_id)
    values (#{tutorId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{addrId,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.kendo.domain.Teacher">
    update teacher
    set name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      addr_id = #{addrId,jdbcType=INTEGER}
    where tutor_id = #{tutorId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tutor_id, name, email, phone, addr_id
    from teacher
    where tutor_id = #{tutorId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select tutor_id, name, email, phone, addr_id
    from teacher
  </select>
</mapper>