<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style>
        .text-red {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <h3>用户注册</h3>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
           th:class="text-red">Incorrect data</p>
        <div th:classappend="${#fields.hasErrors('name')}? 'has-error'">
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
               th:class="text-red">Incorrect data</p>
        </div>
        <div th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label>Email</label>
            <input type="text" th:field="*{email}"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
               th:class="text-red">Incorrect data</p>
        </div>
        <div th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label>Password</label>
            <input type="password" th:field="*{password}"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
               th:class="text-red">Incorrect data</p>
        </div>

        <div>
            <button type="submit">提交</button>
        </div>
    </form>
</div>
</body>
</html>