<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <style>
        .text-red {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <h3>用户注册</h3>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>用户名</label>
            <input type="text" th:field="*{name}">
        </div>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="text-red">邮件地址错误</p>
        <div>
            <label>邮箱地址</label>
            <input type="text" th:field="*{email}"/>
        </div>
        <div>
            <label>密 码</label>
            <input type="password" th:field="*{password}"/>
        </div>
        <div>
            <button type="submit">提交</button>
        </div>
    </form>
</div>
</body>
</html>