<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.dao.content.IContentDao">
    <!-- 根据时间查询相应内容的sql技巧 -->
    <select id="findContents" parameterType="TmParams" resultType="java.util.HashMap">
        SELECT
        c.id,
        c.name,
        c.description,
        c.create_time as createTime,
        c.update_time as updateTime,
        c.is_delete as isDelete,
        c.user_id as userId,
        c.status,
        u.username
        FROM
        keke_content c
        LEFT JOIN keke_user u ON u.id = c.user_id
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(isDelete)">
                AND c.is_delete = ${isDelete}
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(status)">
                AND c.status =${status}
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(userId)">
                AND c.user_id= ${userId}
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(keyword)">
                AND (c.name like '%${keyword}%')
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==1"><!-- 今天 -->
                AND TO_DAYS(c.create_time) = to_days(now())
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==2"><!-- 昨天-->
                <![CDATA[AND TO_DAYS(NOW())-TO_DAYS(c.create_time)=1]]>
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==3"><!-- 近五天-->
                <![CDATA[AND DATE_SUB(NOW(), INTERVAL 5 DAY) <= date(c.create_time)]]>
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==4"><!-- 本周 -->
                AND WEEKOFYEAR(c.create_time)=WEEKOFYEAR(NOW())
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==5"><!-- 上周 -->
                AND YEARWEEK(date_format(c.create_time,'%Y-%m-%d')) = YEARWEEK(now())-1
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==6"><!-- 本月 -->
                AND date_format(c.create_time,'%Y-%m')=date_format(now(),'%Y-%m')
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==7"><!-- 上月 -->
                AND date_format(c.create_time,'%Y-%m')=date_format(DATE_SUB(NOW(), INTERVAL 1 MONTH),'%Y-%m')
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==8"><!-- 上季度 -->
                AND QUARTER(c.create_time)=QUARTER(DATE_SUB(now(),interval 1 QUARTER))
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==9"><!-- 本季度 -->
                AND QUARTER(c.create_time)=QUARTER(now())
            </if>
        </trim>
        <choose>
            <!--  MyBatis排序时使用order by 动态参数时需要注意，用$而不是# -->
            <when test="@com.tz.util.TmStringUtils@isNotEmpty(orderSql)">
                ORDER BY ${orderSql}
            </when>
        </choose>
        LIMIT ${pageNo},${pageSize}
    </select>

    <select id="countContents" parameterType="TmParams" resultType="int">
        SELECT
        count(1)
        FROM
        keke_content c
        LEFT JOIN keke_user u ON u.id = c.user_id
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(isDelete)">
                AND c.is_delete = ${isDelete}
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(status)">
                AND c.status =${status}
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(userId)">
                AND c.user_id= ${userId}
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(keyword)">
                AND (c.name like '%${keyword}%')
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==1"><!-- 今天 -->
                AND TO_DAYS(c.create_time) = to_days(now())
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==2"><!-- 昨天-->
                <![CDATA[AND TO_DAYS(NOW())-TO_DAYS(c.create_time)=1]]>
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==3"><!-- 近五天-->
                <![CDATA[AND DATE_SUB(NOW(), INTERVAL 5 DAY) <= date(c.create_time)]]>
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==4"><!-- 本周 -->
                AND WEEKOFYEAR(c.create_time)=WEEKOFYEAR(NOW())
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==5"><!-- 上周 -->
                AND YEARWEEK(date_format(c.create_time,'%Y-%m-%d')) = YEARWEEK(now())-1
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==6"><!-- 本月 -->
                AND date_format(c.create_time,'%Y-%m')=date_format(now(),'%Y-%m')
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==7"><!-- 上月 -->
                AND date_format(c.create_time,'%Y-%m')=date_format(DATE_SUB(NOW(), INTERVAL 1 MONTH),'%Y-%m')
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==8"><!-- 上季度 -->
                AND QUARTER(c.create_time)=QUARTER(DATE_SUB(now(),interval 1 QUARTER))
            </if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(mark) and mark==9"><!-- 本季度 -->
                AND QUARTER(c.create_time)=QUARTER(now())
            </if>
        </trim>
    </select>

    <!-- 查询单条数据 -->
    <select id="getContent" parameterType="int" resultType="java.util.HashMap">
        SELECT
            c.id,
            c.name,
            c.description,
            c.create_time AS createTime,
            c.update_time AS updateTime,
            c.is_delete   AS isDelete,
            c.user_id     AS userId,
            c.status,
            u.username
        FROM
            keke_content c
            LEFT JOIN keke_user u ON u.id = c.user_id
        WHERE c.id = #{id}
    </select>

    <!-- 更新内容管理 -->
    <update id="updateContent" parameterType="Content" flushCache="true">
        UPDATE keke_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(name)">name=#{name},</if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(description)">description=#{description},</if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(isDelete)">is_delete=#{isDelete},</if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(status)">status=#{status},</if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(userId)">user_id=#{userId},</if>
            <if test="@com.tz.util.TmStringUtils@isNotEmpty(updateTime)">update_time=now(),</if>
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 保存内容管理 -->
    <insert id="saveContent" parameterType="Content" useGeneratedKeys="true" keyProperty="id" flushCache="true">
        INSERT INTO keke_content (name, is_delete, user_id, status, description)
        VALUES (#{name}, #{isDelete}, #{userId}, #{status}, #{description})
    </insert>

    <!-- mybatis调用存储过程-更新关注数和好友数 -->
    <select id="updateFG" statementType="CALLABLE" parameterType="java.util.HashMap" resultType="Integer"
            flushCache="true">
       <![CDATA[
        {call TZ_PRO_USERFANSGCOUNT(
                #{userId,mode=IN,jdbcType=INTEGER},
                #{fuserId,mode=IN,jdbcType=INTEGER}
        )}
        ]]>
	</select>
</mapper>
